
.search-box{

    -fx-background-color: #ffffff;
     -fx-background-radius: 100;

}
.transparent {

    -fx-background-color: rgba(0,0,0,0);
}
.search-button
{
    -fx-background-color: #E5E4E2;
    -fx-background-radius: 30;
}

.right-bar{

    -fx-background-color: #D3D3D3;
}

.shadow
{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,1), 10.0 , 0.0 , 0.0 , 10.0 );
}
.chosen-box-card
{
     -fx-background-color: #b21807;
      -fx-background-radius: 30;
}
.comBox
{
     -fx-background-color: #D3D3D3;
      -fx-background-radius: 30;
}